@{
    ViewBag.Title = "Sign In Page";
    Layout = "~/Views/Auth.cshtml";
}
<div class="signpanel-wrapper">
    <div class="signbox">
        <div class="signbox-header">
            <h4>WELCOME</h4>
            <p class="mg-b-0">LOGIN TO SEE ERROR LOGS</p>
        </div><!-- signbox-header -->
        <div class="signbox-body">
            @using (Html.BeginForm("Signin", "Account", new { returnUrl = Request.QueryString["returnUrl"] }))
            {
                //action="~/Signin/Signin" method="post">
                <div class="form-group">
                    <label class="form-control-label">Email:</label>
                    <input type="email" name="username" placeholder="Enter your email" class="form-control"> 
                </div><!-- form-group -->
                <div class="form-group">
                    <label class="form-control-label">Password:</label>
                    <input type="password" name="password" placeholder="Enter your password" class="form-control">
                </div><!-- form-group -->
                <div class="form-group">
                    <a href="">Forgot password?</a>
                </div><!-- form-group -->
                <button class="btn btn-dark btn-block">Sign In</button>
            }
            <div class="tx-center bd pd-10 mg-t-40">Not yet a member? <a href="page-signup.html">Create an account</a></div>
        </div><!-- signbox-body -->
    </div><!-- signbox -->
</div><!-- signpanel-wrapper -->

<script src="~/Contents/lib/jquery/jquery.js"></script>
<script src="~/Contents//lib/popper.js/popper.js"></script>
<script src="~/Contents//lib/bootstrap/bootstrap.js"></script>
